[user]
	name = Ricardo Magalhaes
	email = magalhini@gmail.com
[credential]
	helper = osxkeychain
[color]
	ui = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	cdev = checkout develop pull origin develop
	st = status
	ci = commit
	ca = commit -v -a
	s = status -s
	p = !"git pull; git submodule foreach git pull origin master"
	co = checkout
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
