exception-reporting':
  'userId': 'dc8f7417-01fd-e88b-d863-0b6179441506'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'decf62114886481a8401b7ff085dbb517d68f3e8'
'scope-inspector':
  'userId': 'decf62114886481a8401b7ff085dbb517d68f3e8'
  'showSidebar': false
'core':
  'disabledPackages': [
    'api-blueprint-preview'
    'command-logger'
    'deprecation-cop'
    'scope-inspector'
  ]
  'themes': [
    'proton'
    'atom-dark-syntax'
  ]
'editor':
  'fontSize': 15
  'invisibles': {}
  'lineHeight': 1.4
  'showIndentGuide': true
  'fontFamily': 'DejaVuSansMono'
'tabs': {}
'emmet': {}
'linter-csslint': {}
'linter-jshint': {}
